<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kartify 404</title>
<style>
body {
background-color: black;
color: white;
font-family: cursive;
text-align: center;
}
h1{
font-size: 100px;
}
h2{
font-size: 42px;
}
h3{
font-size: 30px;
}
button{
width: 250px;
padding: 20px 50px;
border-radius: 5px;
font-size: 25px;
}
button:hover {
background-color:black; /* Green */
color: white;
border: 5px solid white;
}
</style>
</head>
<body>
<h1>404</h1>
<h2>Ooooh boy, Someone is soo lost</h2>
<h3>Lets go back home</h3>
<a href="/">
<button type="button">HOME</button>
</a>
</body>
</html>
