<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="stylesheet" href="static/styles/common.css">
    <title>Kartify</title>

</head>

<body>
    <div class="container">
        <h1>Kartify</h1>
        <form action="/search" method="GET">
            <input type="search" name="searchName" id="searchInput" aria-label="seachInput">
        </form>
    </div>
    <footer></footer>
</body>

</html>
